<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icons/logo.ico">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" target=_blank href="/css/fontawesome.css">
    {{#if pageLevelCss}}
    <link rel="stylesheet" href="/{{pageLevelCss}}">{{/if}}
    {{#if soloCharacter}}
    <link rel="stylesheet" href="/css/{{soloCharacter}}">{{/if}}
    {{#if createCharacterStyle}}
    <link rel="stylesheet" href="/css/{{createCharacterStyle}}">{{/if}}
    {{#if lightTheme}}
    <link rel="stylesheet" href="/css/lightStyle.css">
    {{else}}
    <link rel="stylesheet" href="/css/style.css">
    {{/if}}
    <script src="/scripts/fontawesome2.js" defer crossorigin="anonymous"></script>

    <title>Mind Flayer's Atheneum</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script src="/scripts/poppermin.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/fontawesome.js" crossorigin="anonymous"></script>
    <script src="/scripts/worldwideScript.js" defer></script>
    <script src="/scripts/jquerymin.js"></script>
</body>

</html>