<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>


<section class="bgimage">
  {{#if success}}
  <div class="alert alert-success text-center container w-50 alert-dismissible fade show myAlert" role="alert">
    <h4>{{title}}</h4>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
      <use xlink:href="#check-circle-fill" />
    </svg>{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}

  {{#if error}}
  <div class="alert alert-danger text-center container w-50 alert-dismissible fade show myAlert" role="alert">
    <h4>{{title}}</h4>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
  <div id="addchardiv" class="container">
    <h2 id="addmessageh2" class="text-center">Add Your Own Character!</h2>
    <form action="/characters" method="post" id="formMain">
      <!-- Name input -->
      <div class="form-outline mb-4" id="divName">
        <input type="text" id="inputName" name="name" class="form-control" />
        <label class="form-label" for="name">Name</label>
      </div>

      {{!-- Race Input --}}
      <select class="form-select" id="selectRace" name="race" aria-label="Default select example">
        <option selected>Select a Race</option>
        <option value="dragonborn">Dragonborn</option>
        <option value="dwarf">Dwarf</option>
        <option value="elf">Elf</option>
        <option value="gnome">Gnome</option>
        <option value="half-elf">Half-Elf</option>
        <option value="halfling">Halfling</option>
        <option value="half-orc">Half-Orc</option>
        <option value="human">Human</option>
        <option value="tiefling">Tiefling</option>
      </select>

      {{!-- Class Input --}}
      <select name="charClass" id="selectClass" class="form-select" aria-label="Default select example">
        <option selected>Select a Class</option>
        <option value="barbarian">Barbarian</option>
        <option value="bard">Bard</option>
        <option value="cleric">Cleric</option>
        <option value="druid">Druid</option>
        <option value="fighter">Fighter</option>
        <option value="monk">Monk</option>
        <option value="paladin">Paladin</option>
        <option value="ranger">Ranger</option>
        <option value="rogue">Rogue</option>
        <option value="sorcerer">Sorcerer</option>
        <option value="warlock">Warlock</option>
        <option value="wizard">Wizard</option>
      </select>
      <div class="form-outline" id="divHp">
        <input name="hitpoints" min="0" max="10" type="number" id="typeNumber" class="form-control" />
        <label class="form-label" for="typeNumber">Hitpoints</label>
      </div>
      <div class="row justify-content-center">
        <input type="submit" id="submitBtn" class="btn btn-warning btn-primary" data-bs-toggle="tooltip"
          data-bs-placement="top" title="Input data and Create your Masterpiece"></input>
      </div>

    </form>
  </div>
</section>



<table class="table table-dark" id="tableCharacters">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Race</th>
      <th scope="col">Class</th>
      <th scope="col">Hitpoints</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each character}}
    {{#if (equals ../chosenId id)}}
    <tr scope="row">
      <form action="/characters/{{id}}?_method=PUT" method="post">
        <td>{{id}}</td>
        <td>
          <input type="text" id="inputNameEdit" name="name" class="form-control" />
          <label class="form-label" for="name">Name</label>
        </td>
        <td>
          <select class="form-select" id="selectRaceEdit" name="race" aria-label="Default select example">
            <option selected>Select a Race</option>
            <option value="dragonborn">Dragonborn</option>
            <option value="dwarf">Dwarf</option>
            <option value="elf">Elf</option>
            <option value="gnome">Gnome</option>
            <option value="half-elf">Half-elf</option>
            <option value="halfling">Halfling</option>
            <option value="half-orc">Half-Orc</option>
            <option value="human">Human</option>
            <option value="tiefling">Tiefling</option>
          </select>
        </td>
        <td>
          <select name="charClass" id="selectClassEdit" class="form-select" aria-label="Default select example">
            <option selected>Select a Class</option>
            <option value="barbarian">Barbarian</option>
            <option value="bard">Bard</option>
            <option value="cleric">Cleric</option>
            <option value="druid">Druid</option>
            <option value="fighter">Fighter</option>
            <option value="monk">Monk</option>
            <option value="paladin">Paladin</option>
            <option value="ranger">Ranger</option>
            <option value="rogue">Rogue</option>
            <option value="sorcerer">Sorcerer</option>
            <option value="warlock">Warlock</option>
            <option value="wizard">Wizard</option>
          </select>
        </td>
        <td>
          <input name="hitpoints" min="0" max="10" type="number" id="typeNumberEdit" class="form-control" />
          <label class="form-label" for="typeNumberEdit">Hitpoints</label>
        </td>
        <td>
          <input type="submit" id="btnSubmitEdit" class="btn btn-warning btn-primary"></input>
        </td>
      </form>
    </tr>
    {{else}}
    <tr scope="row">
      <td scope="row">{{id}}</td>
      <td><a class="hyperlinkCharacter" href="/characters/{{id}}">{{name}}</a></td>
      <td>{{race}}</td>
      <td>{{class}}</td>
      <td>{{hitpoints}}</td>
      <td>

        <ul class="list-inline m-0" id="ulButtons">
          <li class="list-inline-item">
            <form method="POST" action="/characters/forms">
              <input name="characterId" type="hidden" value="{{id}}">
              <button class="btn btn-primary btn-sm rounded-0" name="choice" value="editCharacter" type="submit"
                data-toggle="tooltip" data-placement="top"
              title="Edit"><i id="btnEdit{{id}}" class="fa fa-edit"></i></button>
            </form>
          </li>
          <li class="list-inline-item">
            <form method="POST" action="/characters/{{id}}?_method=DELETE">
              <input name="characterId" type="hidden" value="{{id}}">
              <button class="btn btn-primary btn-sm rounded-0 deleteButtons"  name="choice" value="editCharacter" type="submit"
                data-toggle="tooltip" data-placement="top"
              title="Delete"><i id="btnDelete{{id}}" class="fa fa-trash"></i></button>
            </form>
          </li>
        </ul>
      </td>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>