{{#with spell}}
<div class="bg-dark my-5 container d-flex flex-column" style="border-radius: 30px;">
    <div id="top" class="d-flex justify-content-center center-text" style="flex: 1;">
        <div id="left" class="d-flex flex-column align-items-center justify-content-evenly center-text"
            style="flex: 1;">
            <h1>{{Name}}</h1>
            <h3><em>{{school}} {{#if (equals Level 0)}}Cantrip{{else}}Level {{Level}}{{/if}}</em></h3>
            <div class="d-flex justify-content-center"><img src="/images/icons/spells/{{school}}.png"
                    style="max-width: 200px" alt="{{school}}"></div>
        </div>
        <div id="right" class="d-flex flex-column align-items-center" style="flex: 1; margin-top: 100px;">
            <p>Components: {{#if Verbal}} V{{#if Material}},{{else}}{{#if Somatic}},{{/if}}{{/if}}{{/if}}{{#if Somatic}}
                S{{#if Material}},{{/if}}{{/if}}{{#if Material}} M ({{Materials}}){{/if}}</p>
            <p>Damage: {{#if Damage}}{{Damage}}{{else}}None{{/if}}</p>
            <p>Range: {{EffectRange}}</p>
            <p>Casting Time: {{CastingTime}}</p>
            <p>Duration: {{Duration}}</p>
            <p>Source: {{#if (equals UserId 0)}}Player's Handbook{{else}}{{../username}}{{/if}}</p>
            <div class="d-flex flex-column justify-content-end align-items-center">
                <p class="mt-4">Castable By</p>

                {{!-- Classes which can cast this spell --}}
                <div class="d-flex flex-wrap justify-content-evenly">
                    {{#each Classes}}
                    <div class="d-flex flex-column center-text align-items-center justify-content-center">
                    <form action="/classes/{{Id}}"
                        class="d-flex flex-row bg-card card-btn mx-4 characterForm spellForm" style="border-radius: 50%">
                        <img class="classImage" style="width: 50px; height: 50px" src="/images/icons/class/{{Name}}.png"
                            alt="{{Name}}">
                            
                    </form>
                    <p>{{Name}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>


        </div>
    </div>
    <div id="description" class="my-5 mx-5" style="flex: 1;">
        <h2>Description</h2>
        <p>{{Description}}</p>
    </div>

</div>
{{/with}}
<link rel="stylesheet" href="/css/spells.css">
<script src="/scripts/cardPicker.js"></script>
<style>
    .classImage:hover {
        background: transparent !important;
    }
</style>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl)
    {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>