{{#with character}}
<div class="containerGrid">
  <div class="charName iconDiv">
    <h5 class="text-center">{{Name}}</h5>
  </div>
  <div class="level iconDiv">
    <img class="iconImg" src="/images/icons/swords.png">
    <h5 class="text-center">Level: {{Level}}</h5>
  </div>
  <div class="class iconDiv">
    <img class="iconImg" src="/images/icons/class/{{Class.Name}}.png">
    <h5 class="text-center">Class: Barbarian</h5>
  </div>
  <div class="race iconDiv">
    <img class="iconImg" src="/images/icons/race/{{Race.Name}}.png">
    <h5 class="text-center">Race: {{Race.Name}}</h5>
  </div>
  <div class="AC iconDiv">
    <img class="iconImg" src="/images/icons/shield.png">
    <h5 class="text-center">AC: {{ArmorClass}}</h5>
  </div>
  <div class="initiative iconDiv">
    <img class="iconImg" src="/images/icons/initiative.png">
    <h5 class="text-center">Initiative: {{Initiative}}</h5>
  </div>
  <div class="speed iconDiv">
    <img class="iconImg" src="/images/icons/speed.png">
    <h5 class="text-center">Speed: {{Speed}}</h5>
  </div>
  <div class="Abilities">

  </div>
  {{#each AbilityScores}}
  <div class="{{AbilityName}}">
    <h6>{{AbilityName}}</h6>
    <h5 class="text-center abilityScore">{{Score}}</h5>
    <h6 class="text-center abilityBonus green w-33">FE</h6>
  </div>
  {{/each}}


  <div class="proficiency iconDiv">
    <img class="iconImg" src="/images/icons/proficiency.png">
    <h5 class="text-center">Proficiency Bonus: {{ProficiencyBonus}}</h5>
  </div>
  <div class="experience">
    <img class="iconImg" src="/images/icons/xp.png">
    <h5 class="text-center">EXP: {{Experience}}</h5>
  </div>
  <div class="health">
  </div>
  {{/with}}

  <div class="skills">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">&#10003;</th>
          <th scope="col">Name</th>
          <th scope="col">Ability</th>
        </tr>
      </thead>
      <tbody>
        {{#each skills}}
        <tr>
          <th scope="row">&#10003; FE</th>
          <td>{{Name}}</td>
          <td>{{Ability.Name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="items">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {{#each character.OwnedItems}}
        <tr>
          <td>{{Name}}</td>
          <td>{{Count}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{#with character}}
  <div class="savingthrows">
    <h5 class="text-center">Saving Throws</h5>
    <table class="table" id="savingThrowTable">
      <thead>
        <tr>
          <th scope="col">Roll</th>
          <th scope="col">Ability</th>
          <th scope="col">Modifier</th>
        </tr>
      </thead>
      <tbody>
        {{#each AbilityScores}}
        <tr>
          <th scope="row"><img class="d20Skill" src="/images/icons/dice/d20.png"></th>
          <td>{{AbilityName}}</td>
          <td>FE</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/with}}
  {{#with character}}
  <div class="img">
    <img class="characterImg" src="/images/icons/characters/{{Race.Name}}_{{Class.Name}}.png">
  </div>
  <div class="spells">
    <h5 class="text-center">Spells</h5>
  </div>
  <div class="hpValues myContainer">
    <div class="verticalCenter">
      <h4 class="text-center textSizeBigger">{{CurrentHp}}</h4>
      <hr id="hrhp">
      <h4 class="text-center textSizeBigger">{{MaxHp}}</h4>
    </div>
  </div>
  <form action="/characters/{{Id}}" class="hpform myContainer" id="hitpointsForm">
    <button type="submit" id="btnAdd" class="plusIcon iconImg btnhp">
      <img id="addHp" src="/images/icons/plus.png">
    </button>
    <input placeholder="Custom Number" type="number" class="inputNumber" id="hpValueInput">
    <button id="btnRemove" type="submit" class="minusIcon iconImg btnhp">
      <img id="removeHp" src="/images/icons/minus.png">
    </button>
  </form>
  <div class="hp"></div>

  <div class="raceFeats">
    <h5 class="text-center">Race Features</h5>
  </div>
  <div class="classFeats">
    <h5 class="text-center">Class Features</h5>
  </div>
  <div class="backgroundFeats">
    <h5 class="text-center">Background Features</h5>
  </div>
</div>
{{/with}}