{{#each spells}}
<h1>{{Name}}</h1>
{{/each}}
{{#if error}}
<div class="d-flex justify-content-center mt-4">
  <div id="alert" class="alert alert-danger w-50 " role="alert">
    <div class="d-flex">
      <h4 class="alert-heading">{{status}} Error</h4>
      <button style="margin-left: auto" type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
    <p>{{error}}</p>
  </div>
</div>
{{/if}}
{{#if warning}}
<div class="d-flex justify-content-center mt-4">
  <div id="alert" class="alert alert-warning w-50 " role="alert">
    <div class="d-flex">
      <h4 class="alert-heading">Warning</h4>
      <button style="margin-left: auto" type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
    <p>{{warning}}</p>
  </div>
</div>
{{/if}}
{{!-- Addition Form --}}
<h2 id="addSpellsHeader" class="text-center pt-5 pb-4">Add Your Own Spells</h2>
<form id="addForm" class="w-75 container align-items-center d-flex flex-column pb-5 " action="/spells" method="post">

  <div class="w-100 container d-flex">

    <!-- level select -->
    <div class="align-middle form-outline w-20 min-w-50 mx-1">
      <label class="form-label text-center w-100" for="levelSelectAdd">Level</label>

      <select value="0" min="0" max="9" type="number" name="level" id="levelSelectAdd" class="form-control">
        <option value="0" selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <!-- Name input -->
    <div class="align-middle form-outline w-100 mx-1">
      <label class="w-100 text-center form-label" for="nameInputAdd">Name</label>
      <input type="text" id="nameInputAdd" name="name" class="form-control" required />
    </div>

    <!-- School select -->
    <div class="align-middle form-outline w-50 mx-1">
      <label class="w-100 text-center form-label" for="schoolSelectAdd">School</label>
      <select name="schoolId" id="schoolSelectAdd" class="form-control">
        {{#each schools}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>

    <!-- Description input -->
    <div class="align-middle form-outline w-100 mx-1">
      <label class="w-100 text-center form-label" for="descriptionInputAdd">Description</label>
      <input type="text" name="description" id="descriptionInputAdd" class="form-control" required />
    </div>

  </div>
  <div>
    <button id="addSpellButton" class="btn btn-primary mt-4" type="submit">Add</button>
  </div>

</form>


{{!-- Filter Form --}}
<form id="filterForm" class="w-100 pb-3 bg-dark d-flex justify-content-center" action="/spells/filter" method="get">

  <div class="w-75 d-flex justify-content-around">
    <div class="w-100 d-flex flex-column justify-content-end">
      <h2 class="pb-0 text-center">Filter</h2>
    </div>

    <div class="w-25 container d-flex flex-column">
      <!-- Level select -->
      <label class="form-label text-center w-100" for="levelSelectFilter">Level</label>
      <select value="0" min="0" max="9" type="number" name="level" id="levelSelectFilter" class="form-control">
        <option value="" {{#if (equals null filter.level)}}selected{{/if}}>Any</option>
        <option value="0" {{#if (equals 0 filter.level)}}selected{{/if}}>0</option>
        <option value="1" {{#if (equals 1 filter.level)}}selected{{/if}}>1</option>
        <option value="2" {{#if (equals 2 filter.level)}}selected{{/if}}>2</option>
        <option value="3" {{#if (equals 3 filter.level)}}selected{{/if}}>3</option>
        <option value="4" {{#if (equals 4 filter.level)}}selected{{/if}}>4</option>
        <option value="5" {{#if (equals 5 filter.level)}}selected{{/if}}>5</option>
        <option value="6" {{#if (equals 6 filter.level)}}selected{{/if}}>6</option>
        <option value="7" {{#if (equals 7 filter.level)}}selected{{/if}}>7</option>
        <option value="8" {{#if (equals 8 filter.level)}}selected{{/if}}>8</option>
        <option value="9" {{#if (equals 9 filter.level)}}selected{{/if}}>9</option>
      </select>
    </div>

    <!-- Name input -->
    <div class="w-100 align-middle form-outline mr-2">
      <label class="w-100 text-center form-label" for="nameInputFilter">Name</label>
      <input type="text" id="nameInputFilter" name="name" class="form-control" value="{{filter.name}}" />
    </div>

    <!-- School select -->
    <div class="w-100 align-middle form-outline mx-2">
      <label class="w-100 text-center form-label" for="schoolSelectFilter">School</label>

      <select name="schoolId" id="schoolSelectFilter" class="form-control">
        <option value="" {{#if (equals null ../filter.schoolId)}}selected{{/if}}>Any</option>
        {{#each schools}}
        <option value="{{id}}" {{#if (equals id ../filter.schoolId)}}selected{{/if}}>{{name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="d-flex flex-column justify-content-end">
      <button id="filterSubmit" class="btn btn-primary mt-3" type="submit">Filter</button>
    </div>

  </div>
</form>
{{!-- Spell display table --}}
<table id="spellDisplayTable" class="table table-dark w-100">
  <thead>
    <tr>
      <th scope="col">Level</th>
      <th scope="col">Name</th>
      <th scope="col">School</th>
      <th scope="col">Description</th>
      <th class="w-25" scope="colgroup">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each spells}}

    {{!-- If the user requested an edit on a spell, make the selected row an edit row --}}
    {{#if (equals ../spellToEditId id)}}
    <form action="/spells/editform" method="post">
      <tr class="spell">
        <td><select value="0" min="0" max="9" type="number" id="updateFormLevel" name="level" class="form-control"
            required>
            <option value="0" {{#if (equals level 0)}}selected{{/if}}>0</option>
            <option value="1" {{#if (equals level 1)}}selected{{/if}}>1</option>
            <option value="2" {{#if (equals level 2)}}selected{{/if}}>2</option>
            <option value="3" {{#if (equals level 3)}}selected{{/if}}>3</option>
            <option value="4" {{#if (equals level 4)}}selected{{/if}}>4</option>
            <option value="5" {{#if (equals level 5)}}selected{{/if}}>5</option>
            <option value="6" {{#if (equals level 6)}}selected{{/if}}>6</option>
            <option value="7" {{#if (equals level 7)}}selected{{/if}}>7</option>
            <option value="8" {{#if (equals level 8)}}selected{{/if}}>8</option>
            <option value="9" {{#if (equals level 9)}}selected{{/if}}>9</option>
          </select>
          <label class="form-label text-center w-100" for="updateFormLevel">Level</label>
        </td>
        <td><input type="text" id="updateFormName" name="name" class="form-control" value="{{name}}" required /><label
            for="updateFormName">Name</label></td>
        <td>
          <select id="updateFormSchool" name="schoolId" class="form-control" required>
            {{#each ../schools}}
            <option value="{{id}}" {{#if (equals ../school name)}}selected{{/if}}>{{name}}</option>
            {{/each}}
          </select>
          <label class="w-100 text-center form-label" for="schoolSelect">School</label>
        </td>
        <td>
          <input type="text" id="updateFormDescription" name="description" class="form-control" value="{{description}}"
            required /><label for="updateFormDescription">Description</label>
        </td>
        <td>
          <button id="confirmEditSpell{{id}}" class="btn btn-primary" name="choice" formaction="/spells" type="submit" value='{"method": "put"}'><i
              class="far fa-check-circle"></i></button>
          <button id="uneditSpell{{id}}" class="btn btn-primary" name="choice" formaction="/spells" type="submit" value='{"method": "get"}'
            formnovalidate><i class="fas fa-ban"></i></button>
          <button id="deleteSpell{{id}}" class="btn btn-primary" name="choice" formaction="/spells" type="submit" value='{"method": "delete"}'
            formnovalidate><i class="fa fa-trash"></i></button>
        </td>
        <input name="spellChoiceId" value="{{id}}" style="position:absolute; visibility: hidden;">
      </tr>
    </form>
    {{else}}
    {{!-- These are the regular rows with the option buttons --}}

    <form action="/spells/editform" method="post">
      <tr class="spell">
        <td>{{level}}</td>
        <td>{{name}}</td>
        <td>{{school}}</td>
        <td>{{description}}</td>
        <td>
          <button id="editSpell{{id}}" class="btn btn-primary" name="choice" type="submit" value="editForm"><i
              class="fa fa-edit"></i></button>
          <button id="deleteSpell{{id}}" class="btn btn-primary deleteSpell" name="choice" formaction="/spells" type="submit"
            value='{"method": "delete"}'><i class="fa fa-trash"></i></button>
          <button id="focusSpell{{id}}" class="btn btn-primary" name="choice" formaction="/spells/{{id}}" type="submit"
            value='{"method": "get"}'><i class="fa fa-magnifying-glass"></i></button>
        </td>
        <input name="spellChoiceId" value="{{id}}" style="position:absolute; visibility: hidden;">
      </tr>
    </form>
    {{/if}}
    {{/each}}
  </tbody>
</table>

<div class="container mt-5">
  <h2 class="text-center">Advanced</h2>
  <div class="container d-flex">
    {{!-- Remove all with name --}}
    <form class="container d-flex flex-column align-items-center" id="removeWithNameForm" action="/spells/name"
      method="post">
      <h4 class="center-text">Remove all spells with a specific name.</h4>
      <div class="py-3">
        <label for="removeByNameInput">Name</label>
        <input type="text" name="name" id="removeByNameInput" required>
      </div>
      <button id="removeByNameSubmit" class="btn btn-primary mb-3" name="choice" type="submit" value='{"method": "delete"}'>Remove
        Spells</button>
    </form>

    {{!-- Update all occurances of a name --}}
    <form id="updatenamesForm" class="container d-flex flex-column align-items-center" action="/spells/name" method="post">
      <h4 class="center-text">Change all occurances of a spell name.</h4>
      <div class="py-3">
        <label for="fromName">From Name</label>
        <input type="text" name="fromName" id="fromName" required>
      </div>
      <div class="py-3">
        <label for="toName">To Name</label>
        <input type="text" name="toName" id="toName" required>
      </div>
      <button id="changeNamesSubmit" class="btn btn-primary mb-3" name="choice" type="submit" value='{"method": "put"}'>Change Names</button>

    </form>


  </div>

</div>